<html ng-app='scheduleMaker'>
<head>
    <meta charset="utf-8">
    <title>Schedule Maker</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="controllers/controller.js"></script>
</head>
<body>
    <div ng-controller='Controller'>
        Name:<input ng-model="name" type="text" />
        Hello {{name}}
        <ul>
            <li ng-repeat='department in departments'>{{department.Subject_Code}} - {{department.Subject}}</li>
        </ul>
    </div>
    
    
</body>
</html>